body { background-color: rgb(0, 0, 0);
}
body { color: rgb(255, 255, 255);
}
h1 {
  font-size: 20px;
}
p  {
  font-size: 12px;
   color: rgb(72, 255, 0);
}
div { border-style: dotted;
    border: 2px;
    width: 100px;
    height: 100px;
  
}
ol { list-style: lower-alpha;
}
ul { list-style: square inside;
}
